/* CREATE QUOTE  */
@media only screen and (max-width: 600px) {
    .create-quote-container {
      justify-content: space-between;
      min-width: 82%;
      margin: 32px;
      height: 383px;
    }

    .create-quote-container p {
        margin-top: 16px;
        margin-bottom: 0;
    }
   
    .form-container-create .textarea {
        height: 124px;
        width: 280px;
        margin-top: 32px;
        padding: 16px 24px 51px 24px;

    }
    .form-container-create {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .form-container-create .buttons-submit-cancel{
        justify-content: flex-start;
        height: 40px;
        margin-top: 32px;

        
    }
    .form-container-create .buttons-submit-cancel .sign-up-form-btn {
        padding: 0 0;
        margin: 0 20px 0 0;
        width: 137px;
        height: 40px;
    }
    

}

/*PROFILE SETTINGS*/

  @media only screen and (max-width: 1500px) {
      .settings-container{
          max-width: 45%;
      }
      .settings-container .name-container {
          justify-content: space-between;
      }
  }

  @media only screen and (max-width: 1000px) {
    .settings-container{
        max-width: 60%;
    }
    .settings-container .name-container {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 700px) {
    .settings-container{
        margin: 32px;
        min-width: 85%;
    }

    
    .settings-container .name-container .sign-up-form-input{
        max-width: 10%;
        width: 132px;
    }
    .settings-container p {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .settings-container .buttons-submit-cancel{
        justify-content: flex-start;
        height: 40px;
        margin-top: 32px;

        
    }
    .settings-container .buttons-submit-cancel .sign-up-form-btn {
        padding: 0 0;
        margin: 0 20px 0 0;
        width: 137px;
        height: 40px;
    }
}


/*HOME*/

@media only screen and (max-width: 600px) {

    .upper-container-home {
        flex-direction: column;
    }

    .welcome-text-container h1 {
        font-size: 35px;
        line-height: 41px;
        letter-spacing: 0.25px;
    }
    .welcome-text-container h5 {
        font-size: 24px;
        line-height: 28px;
        margin-top: 18px;
        margin-bottom: 42px;
    }

    .welcome-text-container {
        margin: 55px 35px 81px 35px;
    }

    .image-container {
        position: relative;
        width: 344px;
        height: 349px;
        left: 35px;
        margin-right: 0;
    }

    #image-mid {
      width: 360px;
      left:0px;
    }

    #image-top {
        width: 95%;
        left:12px;
        top: 25px;
    }
    
    #image-bottom {
        width: 315px;
        margin-top: 60px;
        margin-left: 10px;
    }

    #fantastic-quotes-text h2 {
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        letter-spacing: 0.25px;
    }
    #fantastic-quotes-text {
        max-width: 100%;
        margin-left: 70px;
        margin-right: 70px;
    }


    .home-background {
        background: none;
    }

    .home-background .quotes-headline h4 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .home-background .quotes-text {
        max-width: 100%;
    }
    .home-background .quotes-text p {
        max-width: 100%;
        margin-left: 35px;
        margin-right: 35px;
    }

    .quotes-list-grid {
        flex-direction: column;
        margin-top: 35px;
    }
    .quotes-list-grid .grid-element {
        max-width: 100%;
        margin-bottom: 10px;
    }

    #bottom-nav {
        margin-bottom: 50%;
        margin-top: 32px;
    }

    .home-background footer img {
        height: 65px;
    }
}
/* HOME LOGGED-IN */
@media only screen and (max-width: 600px) {
    .home-background .headline-paragraph-container #paragraph {
        margin-bottom: 32px;
    }

    .home-background .headline-paragraph-container {
        margin-bottom: 64px;
    }

    .home-background .headline-paragraph-container .random-mine-others-quote{
        max-width: 100%;
    }

    .home-background .headline-paragraph-container .random-mine-others-quote .quote {
        min-width: 344px;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 0;
    }

    .home-background .quotes-text {
        margin-top: 16px;
        margin-bottom: 0;
    }
    .home-background #mid-nav {
        margin-bottom: 69px;
        margin-top: 32px;
    }
}

/* SIGNUP */

@media only screen and (max-width: 1300px) {
    .form-container-two .name-container .sign-up-form-input {
        width: 30%;
    }
}
@media only screen and (max-width: 600px) {
        .form-container-two {
            width: 349px;
            height: 574px;
            margin: 73px 33px 89px 32px;
        }

        .form-container-two .name-container .sign-up-form-input {
            width: 166.5px;
            height: 40px;
        }


        footer img {
            width: 100%;
            height: 65px;
        }

        .form-container-two .lower-part p {
            margin-top: 0px;
        }
        .form-container-two .lower-part button {
            margin-bottom: 15px;
        }

        .form-container-two h1 {
            font-size: 35px;
            line-height: 41px;
        }
        .form-container-two .lower-part{
            margin-bottom: 156px;
        }

        .form-container-two .sign-up-form-btn {
            width: 349px;
            height: 40px;
            margin: 22px 0px;
        }

        .form-container-two p {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            padding-left: 1px;
            padding-right: 2px;
            margin-bottom: 16px;
            margin-top: 8px;
        }

}


/* Login */
@media only screen and (max-width: 600px) {
 .form-container {
     max-width: 100%;
     margin: 177px 33px 0 32px;
     height: 351px;
 }
}

@media only screen and (max-width: 500px) {


    .footer-component{
        background-image: url('/src/components/images/footer-mobile.png');
        height: 65px;
        background-size: auto;
        background-repeat: no-repeat;
        min-width: 414px;
        max-width: 414px;
    }
}

/*PROFILE */


@media only screen and (max-width: 500px) {
    .profile-background {
        background-image: none;
    }
    .profile-background .profile-container {
        background-image: url('/public/background_profile_top_mobile.png');
        margin-top: 0;
        background-size: 414px 277px;
        background-repeat: no-repeat;

    }

    .profile-background .logo-name-container {
        max-width: 80%;
    }

    .profile-background .logo-name-container img{
        margin-top: 56px;
        margin-bottom: 20px;
    }
    .profile-background .logo-name-container h4{
        width: 222px;
        margin: 0 auto 22px auto;

    }

    .profile-background .quotastic-karma-container {
        margin: 0 107px 40px 107px;
        max-width: 100%;

    }
    .profile-background .quote-profile{
        max-width: 100%;
        margin-left: 35px;
        margin-right: 35px;
    }
    .profile-background .quote-profile h5{
        text-align: left;

    }

    .profile-background .quote-profile .random-mine-others-quote{
        max-width: 100%;
        margin: 0;
    }

    .profile-background .quote-profile .random-mine-others-quote .quote{
        min-width: 100%;
    }

    .profile-background .likes-container h5 {
        margin-left: 35px;
        margin-right: 35px;
        text-align: left;
        font-size: 24px;
        font-weight: 400;
        color:#DE8667;
        line-height: 28px;
    }

    .profile-background .quotes-list-grid{
        margin-top: 24px;
        margin-left: 35px;
        margin-right: 35px;
    }
}


@media only screen and (max-width: 500px) {
    .mobile-navigation, .mobile-navigation-logged-in {
            display:flex;
            flex-direction: column;
            min-height: 40%;
            justify-content: space-between;
            
    }

    .navigation, .navigation-logged-in {
        display: none;
    }

    .navigation-bar {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 7%;
    }
    
    .mobile-navigation-logged-in .visible-part,
    .mobile-navigation .visible-part{
        display: flex;
        justify-content: space-between;
    }

    .mobile-navigation .visible-part {
        margin-left: 3%;
        margin-right: 3%;
    }
    .mobile-navigation-logged-in .visible-part {
        margin-left: 3%;
        margin-right: 3%;
    }
    .mobile-navigation-logged-in .visible-part .logo,
    .mobile-navigation .visible-part .logo{
        max-height: 24px;
        width: 116px;
        margin-top: 8px;
    }

    .mobile-navigation-logged-in .visible-part .create-simbol-mobile{
            height: 25px;
            width: 25px;
            margin-top: 8px;
    }

    .mobile-navigation-logged-in .visible-part .hamburger,
    .mobile-navigation .visible-part .hamburger{
        margin-top: 12px;
        width: 25px;
        height: 25px;
    }
    .mobile-navigation-logged-in .visible-part .close,
    .mobile-navigation .visible-part .close{
        margin-top: 15px;
        width: 20px;
        height: 20px;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in {
        margin-top: 5px;
        text-align: left;
    }

    .mobile-navigation .invisible-part ul li,
    .mobile-navigation-logged-in .invisible-part-logged-in ul li {
        display: flex;
        justify-content: space-between;
        
    }
    .mobile-navigation-logged-in .invisible-part-logged-in ul li img{
        width: 60%;
    }
    .mobile-navigation-logged-in .invisible-part-logged-in ul #profile-name{
        justify-content: flex-start;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in ul li #logout{
        color: #DE8667;
    }
    .mobile-navigation .invisible-part ul {
        margin-top: 35px;
        width: 90%
    }

    .mobile-navigation .invisible-part ul #link-arrow,
    .mobile-navigation-logged-in .invisible-part-logged-in ul li {
        margin-bottom: 35px;
    }

    .mobile-navigation .invisible-part ul #link-arrow a{
        line-height: 28px;
        font-weight: 400;
        font-size: 24px;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in ul li #link-arrow {
        min-width: 15px;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in ul {
        margin-right: 12px;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in ul li a{
        line-height: 28px;
        font-weight: 400;
        font-size: 24px;
    }
    .mobile-navigation-logged-in .invisible-part-logged-in ul li #name-tag{
        margin-top: 10px;
    }

    .mobile-navigation-logged-in .invisible-part-logged-in ul li{
        margin-top: 9px;
        margin-left: 6px;
    }

    .mobile-navigation .invisible-part ul #buttons-login,
    .mobile-navigation .invisible-part ul #buttons-sign-up{
        width: 96%;
        margin-bottom: 16px;
        
    }

    .mobile-navigation .invisible-part ul #buttons-login a,
    .mobile-navigation .invisible-part ul #buttons-sign-up a{
        text-align: center;
        width: 100%;
        text-decoration: none;
    }

    .mobile-navigation .invisible-part ul #buttons-login a{
        color: #DE8667;
    }

    .mobile-navigation .invisible-part ul #buttons-sign-up a {
        color: #ffff;
    }

}


